[D-BUS Service]
Name=org.sailfishos.Office
Exec=/usr/bin/invoker --desktop-file=sailfish-office.desktop -t silica-qt5 -s /usr/bin/sailfish-office -prestart
