[D-BUS Service]
Name=com.jolla.gallery
Exec=/usr/bin/invoker --type=silica-qt5 --desktop-file=jolla-gallery.desktop -s -n -d 5 /usr/bin/jolla-gallery
