[D-BUS Service]
Name=org.sailfishos.captiveportal
Exec=/usr/bin/invoker -s --type=browser -G --desktop-file=sailfish-captiveportal.desktop /usr/bin/sailfish-captiveportal -prestart -captiveportal
